body {
    font-size: 15px;
}

p {
    font-size: 1.1em;
}

pre {
    font-size: 15px;
}

h1 {
    color: #0033A0;
}
h2 {
    color: #D64309;
}
h3 {
    color: #0033A0;
}
.orange { background-color: #0033A0; color: #D64309; border-radius: 5px; padding: 15px;}
.blue { background-color: #D64309; color: #0033A0; border-radius: 5px; padding: 15px;}